footer.footer
    .footer-container.grid
        section.footer-navigation.item-6
            h2.footer-title.jst Navigation
            .footer-navigation-content
                p.jst 
                    a.jst(href="./index.html") Home page
                    a.jst(href="./sarkandaugava.html") Sarkandaugava
                    a.jst(href="./zoo.html") Zoo 
                    a.jst(href="./monument-of-freedom.html") Monument of Freedom 
                    a.jst(href="./university-of-latvia.html") University of Latvia 
                    a.jst(href="./map.html") Map 
                img.lu-logo(src="./img/footer/lu.png")
        section.footer-contact.item-6
            h2.footer-title.jst Contact Information
            .footer-contact-content
                .footer-info
                    .footer-info-label.jst Phone number: 
                    .footer-info-data 26137xxx
                .footer-info
                    .footer-info-label.jst Email address: 
                    .footer-info-data rihards.abolins@xxxx.xx
                .footer-contact-sub-content.jst You can try and call, but let me tell you one thing - I will not pick up call from unknown number (same with email)
    .copyright.jst 2021 Copyright Protected    

script(src="./js/translations.js")
script(src="./js/main.js")