nav#MainMenu.menu
    .lang-switcher
        div#inverter
            img(src="./img/ico-invert.png")
        div.lang.lang-en.is-active(data-lang="en") EN
        div.lang.lang-lv(data-lang="lv") LV
    ul#MainMenuOverlay.container
        .menu-items
            li 
                a.is-active.jst(href="./index.html") Home
            li
                a.jst(href="./sarkandaugava.html") Sarkandaugava
            li
                a.jst(href="./zoo.html") Zoo
            li
                a.jst(href="./monument-of-freedom.html") Monument of Freedom 
            li
                a.jst(href="./university-of-latvia.html") University of Latvia 
            li
                a.jst(href="./map.html") Map
    #MainMenuBurger.hamburger
        .bar
        .bar
        .bar